# Ensure all text files use normalized (LF) line endings in the repo
* text=auto

# Linux/macOS Gradle wrapper script should always use LF
/gradlew text eol=lf

# Ensure Gradle wrapper properties file uses LF and jar is treated as binary
/gradle/wrapper/gradle-wrapper.properties text eol=lf
/gradle/wrapper/gradle-wrapper.jar binary


# Windows batch files should always use CRLF
*.bat text eol=crlf

