# Ensure all text files use normalized (LF) line endings in the repo
* text=auto

# Linux/macOS Gradle wrapper script should always use LF
/gradlew text eol=lf

# Gradle wrapper JAR and properties should always use LF
/gradle/wrapper/* text eol=lf

# Windows batch files should always use CRLF
*.bat text eol=crlf

